<form action="/login" method="post">
<h2 id="start">Please Log In with your Username and Password</h2>
<br>
<label id="start">UserName: </label>
  <input type="text" name="username">
  <label id="start">PassWord: </label>
  <input type="password" name="password">
  <input type="submit" value="Log In">
</form>
<p><%= @error %></p>