<form action="/signup" method="post">
<h2 id="start">Enter a Username and Password to get started</h2>
<br>
<label id="start">UserName: </label>
  <input type="text" name="username">
  <label id="start">PassWord: </label>
  <input type="password" name="password">
  <input type="submit" value="Sign Up">
</form>
<p><%= @error %></p>