<h1>Builds</h1>
<a href="/gears/new">Create a Build</a>
<% @gears.each do |gear| %>
  <h2><a href="/gears/<%= gear.id %>"><%= gear.title %></a></h2>
  <% if gear.user && current_user == gear.user %>
    <a href="/gears/<%= gear.id %>/edit">Edit Build</a>
<% end %>
<% end %>