<h1><span id="start">Assemble Your Build</span></h1>
<br>
<h3><%= @error %></h3>
<br>
<form action="/gears" method="post">
<label><span id="start">Build Name: </span></label>
 <input type="text" name="title">
 <br><br>
 <label><span id="start">Character Class: </span></label><br>
  <input type="radio" name="character_klass" value="Demon Hunter"><span>Demon Hunter<span><br>
  <input type="radio" name="character_klass" value="Crusader"> <span>Crusader<span><br>
  <input type="radio" name="character_klass" value="Barbarian"> <span>Barbarian<span><br>
  <input type="radio" name="character_klass" value="Necromancer"> <span>Necromancer<span><br>
  <input type="radio" name="character_klass" value="Witch Doctor"> <span>Witch Doctor<span><br>
  <input type="radio" name="character_klass" value="Wizard"> <span>Wizard<span><br>
  <input type="radio" name="character_klass" value="Monk"> <span>Monk<span><br>
  <br><br>
<label><span id="start">Helm: </span></label>
  <input type="text" name="helm">
  <br><br>
<label><span id="start">Shoulders: </span></label>
  <input type="text" name="shoulders">
  <br><br>
<label><span id="start">Gloves: </span></label>
  <input type="text" name="gloves">
  <br><br>
<label><span id="start">Chest Armor: </span></label>
  <input type="text" name="chest_armor">
  <br><br>
<label><span id="start">Belt: </span></label>
  <input type="text" name="belt">
  <br><br>
<label><span id="start">Pants: </span></label>
  <input type="text" name="pants">
  <br><br>
<label><span id="start">Boots: </span></label>
  <input type="text" name="boots">
  <br><br>
<label><span id="start">Bracers: </span></label>
  <input type="text" name="bracers">
  <br><br>
<label><span id="start">Amulet: </span></label>
  <input type="text" name="amulet">
  <br><br>
<label><span id="start">Ring 1: </span></label>
  <input type="text" name="ring_1">
  <br><br>
<label><span id="start">Ring 2: </span></label>
  <input type="text" name="ring_2">
  <br><br>
<label><span id="start">Weapon: </span></label>
  <input type="text" name="weapon">
  <br><br>
<label><span id="start">Offhand: </span></label>
  <input type="text" name="offhand">
  <br><br>
<label><span id="start">Gem Notes: </span></label>
  <textarea name="gem_notes"></textarea>
  <br><br>
<label><span id="start">Kanai's Cube: </span></label>
  <textarea name="kanais_cube"></textarea>
  <br><br>
<label><span id="start">Active Skills and Runes: </span></label>
  <textarea name="active_skills"></textarea>
  <br><br>
<label><span id="start">Passive Skills: </span></label>
  <textarea name="passive_skills"></textarea>
  <br><br>
<label><span id="start">General Build Notes: </span></label>
  <textarea name="general_build_notes"></textarea>
  <br><br>
  <button type="submit" value="Submit">Add Build</button>
</form>
