<h1>Create a Build</h1>
<br>
<form action="/gears" method="post">
<label>Build Name: </label>
 <input type="text" name="title">
 <br><br>
 <label>Character Class: </label>
    <input type="radio" name="character_klass"><span>Demon Hunter<span>
    <input type="radio" name="character_klass"> <span>Crusader<span>
    <input type="radio" name="character_klass"> <span>Barbarian<span>
    <input type="radio" name="character_klass"> <span>Necromancer<span>
    <input type="radio" name="character_klass"> <span>Witch Doctor<span>
    <input type="radio" name="character_klass"> <span>Wizard<span>
    <input type="radio" name="character_klass"> <span>Monk<span>
  <br><br>
  <label>Helm: </label>
    <input type="text" name="helm">
  <br><br>
  <label>Shoulders: </label>
    <input type="text" name="shoulders">
  <br><br>
  <label>Gloves: </label>
    <input type="text" name="gloves">
  <br><br>
  <label>Chest Armor: </label>
    <input type="text" name="chest_armor">
  <br><br>
  <label>Belt: </label>
    <input type="text" name="belt">
  <br><br>
  <label>Pants: </label>
    <input type="text" name="pants">
  <br><br>
  <label>Boots: </label>
    <input type="text" name="boots">
  <br><br>
  <label>Bracers: </label>
    <input type="text" name="bracers">
  <br><br>
  <label>Amulet: </label>
    <input type="text" name="amulet">
  <br><br>
  <label>Ring 1: </label>
    <input type="text" name="ring_1">
  <br><br>
  <label>Ring 2: </label>
    <input type="text" name="ring_2">
  <br><br>
  <label>Weapon: </label>
    <input type="text" name="weapon">
  <br><br>
  <label>Offhand: </label>
    <input type="text" name="offhand">
  <br><br>
  <label>Gem Notes: </label>
    <textarea name="gem_notes"></textarea>
  <br><br>
  <label>Kanai's Cube: </label>
    <textarea name="kanais_cube"></textarea>
  <br><br>
  <label>Active Skills and Runes: </label>
    <textarea name="active_skills"></textarea>
  <br><br>
  <label>Passive Skills: </label>
    <textarea name="passive_skills"></textarea>
  <br><br>
  <label>General Build Notes: </label>
    <textarea name="general_build_notes"></textarea>
  <br><br>
  <button type="submit" value="Submit">Add Build</button>
</form>
