<h1 class="welcome">Welcome to the Diablo Armory Assistant</h1>
<br>
<h3 class="welcome">A helpful solution for keeping track of all your Diablo Character Builds</h3>
<p>For dedicated Diablo players who need to keep track of all their character builds all in one convienient place. Sign Up and create your builds with the ability to edit and delete those builds when needed.</p>